.titlebar {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 32px;
  width: 100%;
  /* background: #254053; */
  background-color: #2c5572;
}

.titlebar #drag-area {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
}

.logo-area {
  -webkit-app-region: drag;
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.logo {
  width: 32px;
}

.application-bar {
  -webkit-app-region: no-drag;
  display: grid;
  /* grid-template-columns: repeat(3, 46px); */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.application-bar .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: default;
  margin-right: 12px;
}

.button-label {
  margin: 0;
  color: white;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  .window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

.window-controls {
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

.window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}
.window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

.maximized #logo-area {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

#close-button {
  grid-column: 3;
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #3b3b3b;
  border-radius: 4px;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 6px;
}

/* .menu-button:hover .dropdown-content {
  display: block;
} */

.dropdown-open .dropdown-content {
  display: block;
}

.dropdown-content p {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-button:hover {
  background: rgba(255,255,255,0.2);
}

.menu-label {
  margin: 0;
  padding: 5px 30px 0 30px;
  font-size: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: white;
}

.menu-label:hover {
  background: rgba(255,255,255,0.2);
}