<header class="titlebar" id="titlebar">
  <div id="drag-area">
    <div class="application-bar">
      <div class="logo-area" id="logo-area">
        <img class="logo" src="../../../assets/logo.png" alt="">
      </div>
      <div class="button" id="file-button">
        <p>File</p>
      </div>
    </div>
    <div class="window-controls">
      <div class="button" id="min-button">
        <img class="icon" srcset="assets/titlebar/min-w-10.png 1x, assets/titlebar/min-w-12.png 1.25x, assets/titlebar/min-w-15.png 1.5x, assets/titlebar/min-w-15.png 1.75x, assets/titlebar/min-w-20.png 2x, assets/titlebar/min-w-20.png 2.25x, assets/titlebar/min-w-24.png 2.5x, assets/titlebar/min-w-30.png 3x, assets/titlebar/min-w-30.png 3.5x" draggable="false" />
      </div>

      <div class="button" id="max-button">
        <img class="icon" srcset="assets/titlebar/max-w-10.png 1x, assets/titlebar/max-w-12.png 1.25x, assets/titlebar/max-w-15.png 1.5x, assets/titlebar/max-w-15.png 1.75x, assets/titlebar/max-w-20.png 2x, assets/titlebar/max-w-20.png 2.25x, assets/titlebar/max-w-24.png 2.5x, assets/titlebar/max-w-30.png 3x, assets/titlebar/max-w-30.png 3.5x" draggable="false" />
      </div>

      <div class="button" id="restore-button">
        <img class="icon" srcset="assets/titlebar/restore-w-10.png 1x, assets/titlebar/restore-w-12.png 1.25x, assets/titlebar/restore-w-15.png 1.5x, assets/titlebar/restore-w-15.png 1.75x, assets/titlebar/restore-w-20.png 2x, assets/titlebar/restore-w-20.png 2.25x, assets/titlebar/restore-w-24.png 2.5x, assets/titlebar/restore-w-30.png 3x, assets/titlebar/restore-w-30.png 3.5x" draggable="false" />
      </div>

      <div class="button" id="close-button">
        <img class="icon" srcset="assets/titlebar/close-w-10.png 1x, assets/titlebar/close-w-12.png 1.25x, assets/titlebar/close-w-15.png 1.5x, assets/titlebar/close-w-15.png 1.75x, assets/titlebar/close-w-20.png 2x, assets/titlebar/close-w-20.png 2.25x, assets/titlebar/close-w-24.png 2.5x, assets/titlebar/close-w-30.png 3x, assets/titlebar/close-w-30.png 3.5x" draggable="false" />
      </div>

    </div>
  </div>
</header>