<div class="container-fluid window-header">
    <p>MAIN EDITOR TOOLS</p>
</div>
<div class="tools container-fluid">
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Board" direction="bottom" (click)="onNewBoard()">
            NB
        </button>
    </div>
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Deck" direction="bottom" (click)="onNewDeck()">
            ND
        </button>
    </div>
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Token" direction="bottom" (click)="onNewToken()">
            NT
        </button>
    </div>

</div>