<div class="container-fluid window-header">
    <p>MAIN EDITOR TOOLS</p>
</div>
<div class="tools container-fluid">
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Board" direction="bottom" (click)="onNewAsset('Board')">
            NB
        </button>
    </div>
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Deck" direction="bottom" (click)="onNewAsset('Deck')">
            ND
        </button>
    </div>
    <div class="button-area">
        <button class="btn" appTooltip tooltip="Add New Token" direction="bottom" (click)="onNewAsset('Token')">
            NT
        </button>
    </div>

</div>