<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="modal.css">
</head>
<body>
    <div class="input">
      <form id="f">
        <div class="input-area">
          <label for="name" id="asset-label"></label>
          <input type="text" name="name" id="name">
          <span class="empty-err" id="empty-err" style="display: none;">Please enter a name!</span>
          <div class="button-area">
            <button type="button" onclick="response()">Create Asset</button>
            <button type="button" onclick="cancel()" id="cancel-btn">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    
    <script>
    const { ipcRenderer } = require("electron")
    function cancel() {
      ipcRenderer.send("close-modal", "")
      this.close();
    }
    
    function response() {
      const res = document.getElementById('name').value;
      if(res && res.length > 0) {
        ipcRenderer.send("close-modal", {modalResult: res});
        this.close();
      }else {
        document.getElementById('empty-err').style.display = 'block';
        setTimeout(() => {
          document.getElementById('empty-err').style.display = 'none';
        }, 4000)
      }
    }
    
    window.onload=function() {
      const modalData = ipcRenderer.sendSync('modalData', '');
      const title = modalData.title;
      document.getElementById('asset-label').innerHTML = 'Enter ' + title + ' Name';
    }

    window.onkeydown=function(event) {
      if(event.key === 'Enter') {
        event.preventDefault();
        event.stopPropagation();
        response();
      }
    }
    </script>
</body>