.modal-container{
    position: absolute;
    z-index: 5;
    border: none;
    background-color: rgb(140, 140, 140);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}