<div 
 class="tools-window side-window"
>
    <!-- Insert appropriate tools window via dynamic components -->
    <div class="main editor">
        <app-main-tools></app-main-tools>
    </div>
    <div class="board editor">
        <app-board-tools></app-board-tools>
    </div>
    <div class="deck editor">
        <app-deck-tools></app-deck-tools>
    </div>
    <div class="token editor">
        <app-token-tools></app-token-tools>
    </div>

</div>

<div
 class="editor-window center-window"
>
    <div class="container-fluid open-editors">
        <div class="tab" *ngFor="let editor of editorList; index as i" (click)="openEditor($event, i)">
            <div class="name">
                <p>{{ editor.name }}</p>
            </div>
            <div class="close" *ngIf="editor.closeable">
                <img class="close-img" src="../../../assets/titlebar/close-w-10.png" alt="">
            </div>
        </div>
    </div>
    <!-- Insert appropriate editor window via dynamic components -->
    <div class="main editor">
        <app-main-editor></app-main-editor>
    </div>
    <div class="board editor">
        <app-board-editor></app-board-editor>
    </div>
    <div class="deck editor">
        <app-deck-editor></app-deck-editor>
    </div>
    <div class="token editor">
        <app-token-editor></app-token-editor>
    </div>
    
</div>

<div
 class="assets-window side-window"
>
    <!-- Insert appropriate assets window via dynamic components -->
    <div class="main editor">
        <app-main-assets></app-main-assets>
    </div>
    <div class="board editor">
        <app-board-assets></app-board-assets>
    </div>
    <div class="deck editor">
        <app-deck-assets></app-deck-assets>
    </div>
    <div class="token editor">
        <app-token-assets></app-token-assets>
    </div>

</div>

<!-- <app-modal></app-modal> -->