.tools-window {
    position: fixed;
    z-index: 2;
    top: 32px;
    left: 0;
    width: 150px;
    height: 100%;
    margin: 0;
    /* background-color: rgb(255, 63, 153); */
}

.editor-window {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 150px;
    height: 100%;
    width: calc(100% - 300px);
    /* background-color: #ecff59; */
}

.assets-window {
    position: fixed;
    z-index: 2;
    top: 32px;
    left: calc(100% - 150px);
    height: 100%;
    width: 150px;
    /* background-color: rgb(255, 63, 153); */
}

.tools-window.resize {
    animation: fadeInAnimationTools ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.assets-window.resize {
    animation: fadeInAnimationAssets ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationTools {
    0% {
        border-right: 2px solid rgb(255,255,0, 0.0);
    }
    100% {
        border-right: 2px solid rgb(255,255,0, 1.0);
     }
}
@keyframes fadeInAnimationAssets {
    0% {
        border-left: 2px solid rgb(255,255,0, 0.0);
    }
    100% {
        border-left: 2px solid rgb(255,255,0, 1.0);
     }
}

.center-window {
    background-color: rgb(64, 64, 64);
}

.side-window {
    background-color: #2d3a44;;
}

.editor {
    display: none;
}

.comp-active {
    display: grid;
}

.open-editors {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgb(64, 75, 84); 
    box-shadow: 0px 5px 4px -4px rgba(40, 51, 60, 1);
}

.tab {
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 6px;
    min-width: 80px;
    max-width: 1200px;
    height: 100%;
    border-right:1px solid #252525;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.close-img {
    width: 8px;
    padding: 0;
}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 74%;
    width: 20%;
    height: 50%;
    border-radius: 4px;
}

.close:hover{
    background-color: #4d5c68;;
}

.name {
    position: absolute;
    display: flex;
    align-items: center;
    left: 8%;
    width: 66%;
    height: 100%;
}