<div class="container-fluid window-header">
    <p>TOKEN EDITOR TOOLS</p>
</div>
<div class="tools container-fluid">
    <div class="button-area">
        <button class="btn board" appTooltip tooltip="New Image" direction="bottom" (click)="onNewImage(false)">
            IMG
        </button>
    </div>
    <div class="button-area">
        <button class="btn board" appTooltip tooltip="Set Background Image" direction="bottom" (click)="onNewImage(true)">
            BACK
        </button>
    </div>
    <div class="button-area">
        <button class="btn board" appTooltip tooltip="Change Shape to Circle" direction="bottom" (click)="setCirc()">
            CIRC
        </button>
    </div>
    <div class="button-area">
        <button class="btn board" appTooltip tooltip="Change Shape to Rect" direction="bottom" (click)="setRect()">
            RECT
        </button>
    </div>
</div>