.tools-window {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 0;
    width: 150px;
    height: 100%;
    margin: 0;
    /* background-color: rgb(174, 109, 235); */
    background-color: rgb(255, 63, 153);
}

.editor-window {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 150px;
    height: 100%;
    width: calc(100% - 300px);
    background-color: #ecff59;
}

.assets-window {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: calc(100% - 150px);
    height: 100%;
    width: 150px;
    /* background-color: rgb(174, 109, 235); */
    background-color: rgb(255, 63, 153);
}