.button-area {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 0;
    width: 150px;
    height: 100%;
    margin: 0;
    background-color: rgb(174, 109, 235);
}

.box-container {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: 150px;
    height: 100%;
    width: calc(100% - 300px);
    /* background: #254053; */
    background-color: #ecff59;
}

.assets-area {
    position: fixed;
    z-index: 1;
    top: 32px;
    left: calc(100% - 150px);
    height: 100%;
    width: 150px;
    background-color: rgb(174, 109, 235);
}