.token {
    background-size: 100% 100%;
    background-color: yellow;
}

/* .rectangle {
    background-color: lightblue;
} */

.circle {
    /* background-color: lightpink; */
    border-radius: 50%;
}